/* -------------------------------
Início do carrosel
------------------------------- */

.carrossel {
    z-index: 1;
}

.carrossel .carousel {
    margin: 0;
}

.carrossel .carousel i {
    font-size: 200%;
    color: #ffffff;
}

.carrossel .carousel .textoCarrossel {
    text-align: left;
    top: 20%;
    transform: translateY(-50%);
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    width: 374px;
}

.carrossel .carousel .textoCarrossel p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.carrossel .carousel .textoCarrossel .corTextoSlide {
    color: #FFC12A;
}

.carrossel .carousel .btn {
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    text-align: center;
    font-size: 20px !important;
    padding-top: 7px;
    width: 175px;
    height: 50px;
    margin-top: 20px;
}

.carrossel .carousel .btn:hover {
    list-style: none;
}

.carrossel .carousel .carousel-item img {
    transition: 60s ease;
  }
  
.carrossel .carousel .carousel-item.active img {
    transform: scale(2.0);
  }

  @keyframes animacaoFadeInUpBig {
    0% {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInUpBig {
    animation-name: animacaoFadeInUpBig;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;
  }

/* -----------------------------
Fim do Carrosel
------------------------------------ */

/* -------------------------
Início do secaoDesde
------------------------- */

.secaoDesde {
    background: #FFC12A;
    text-align: center;
    margin: 0;
    padding: 45px 0 45px 0;
}

.secaoDesde h2 {
    color: white;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 15px;
}

.secaoDesde h3 {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/* --------------------
Fim do secaoDesde
--------------------------------- */

/* -------------------
Início da secaoSobre
--------------------------- */

.secaoSobre {
    padding: 50px 0;
}

.secaoSobre h2 {
    font-size: 32px;
    font-weight: 600;
    color: #FFC12A;
    padding-bottom: 15px;
}

.secaoSobre p {
    font-size: 16px;
    font-weight: 400;
    color: #7A7A7A;
    line-height: 1.5;
}

.secaoSobre img {
    border-radius: 50px 0;
}

/* -----------------------
Fim da secaoSobre
----------------------------- */

/* ------------------------
Início da secaoInformacao
---------------------------- */

.secaoInformacao {
    background: #333333;
    padding: 50px;
    display: flex;
    align-items: center;
}

.secaoInformacao .col-md-4 {
    text-align: center;
    padding-top: 1%;
}

.secaoInformacao img {
    padding-bottom: 20px !important;
}

.secaoInformacao img {
    transition: transform 0.3s ease;
    width: 45%;
  }
  
.secaoInformacao img:hover {
    transform: scale(1.1);
  }
.secaoInformacao .container .col-md-4:nth-child(2) img {
    width: 22%;
}

.secaoInformacao span {
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
}

.secaoInformacao h2 {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
}

/* ------------------------
Fim da secaoInformacao
---------------------------- */

/* ---------------------
Início da secaoProduto
---------------------- */

.secaoProduto {
    padding: 25px;
}

/* ----------------------
Fim da secaoProduto
------------------------- */

/* ------------------
Início da secaoContato
--------------------- */

.secaoContato {
    background: #F6BB29;
    padding: 50px;
}

.secaoContato h2 {
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
}

.secaoContato p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.secaoContato h3 {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.secaoContato span {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.secaoContato i {
    color: #202020;
    padding-right: 10px;
    font-size: 90%;
}

.secaoContato ul {
    text-decoration: none;
    list-style: none;
    padding: 25px 0 0 0;
    margin: 0;
}

.secaoContato ul li {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: #202020 !important;
    padding: 0;
}

.secaoContato .bordaForm input, select, button {
    border-radius: 20px !important;
}

.secaoContato .col-md-6:nth-child(2) h2 {
    font-size: 20px !important;
    font-weight: 600;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.secaoContato .mb-3:nth-child(6) input {
    padding-bottom: 70px;
}

.secaoContato .btn {
    background: #353535;
    color: white;
    width: 100%;
}

.secaoContato .erro-mensagem {
    color: red;
    padding-left: 15px;
}
/* ----------------------
Fim da secaoContato
----------------------------- */


@media (max-width: 767.50px) {
    /* ------------
    Carrossel
    -------------------*/

    .carrosselResponsivo {
        z-index: 90;
        padding: 94px 0 0 0;
    }

    .carrosselResponsivo img {
        width: 100% !important;
        object-fit: cover;
    }

    .carrosselResponsivo {
    z-index: 1;
    }

    .carrosselResponsivo .carousel-inner {
        max-height: 450px;
    }

    .carrosselResponsivo .carousel {
        margin: 0;
    }

    .carrosselResponsivo .carousel i {
        font-size: 200%;
        color: #ffffff;
    }

    .carrosselResponsivo .carousel .textoCarrossel {
        text-align: left;
        top: 20%;
        transform: translateY(-50%);
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        margin: 0 !important;
        padding: 0 !important;
    }

    .carrosselResponsivo .carousel .textoCarrossel p {
        margin-bottom: 0px;
        margin-top: 0px;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }

    .carrosselResponsivo .carousel .textoCarrossel .corTextoSlide {
        color: #ffba00;
    }

    .carrosselResponsivo .carousel .btn {
        text-align: center;
        color: white;
        border: 2px solid white;
        border-radius: 40px;
        margin-top: 10px;
        font-size: 15px !important;
        /* margin-left: 10px; */
        width: 150px;
        height: 50px;
        /* top: 100% !important; */
        /* transform: translateY(-50%); */
        padding-top: 12px;
    }

    .carrosselResponsivo .carousel .btn:hover {
        list-style: none;
    }

    .carrosselResponsivo .carousel .carousel-item img {
        transition: transform 30s ease;
      }
      
    .carrosselResponsivo .carousel .carousel-item.active img {
        transform: scale(2.0);
      }

        /* --------------
        secaoDesde
        ------------------ */

    .secaoDesde h2{
        font-size: 22px !important;
    }

    .secaoDesde h3{
        font-size: 18px !important;
    }

    /* --------------
    secaoSobre
    --------------- */

    .secaoSobre {
        padding: 25px;
    }

    /* -------------
    secaoInformacao
    ----------------------- */

    .secaoInformacao .col-md-4:nth-child(2), .col-md-4:nth-child(3) {
        padding-top: 30px;
    }

    /* -----------
    secaoProduto
    --------------------- */

    .secaoProduto .col-md-6:nth-child(2) {
        padding-top: 15px;
    }

    .secaoProduto .col-md-6 img{
        border-radius: 5px;
    }

    /* --------------
    secaoContato
    ------------------ */

    .secaoContato {
        padding: 30px 5px;
    }

    .secaoContato .col-md-6:nth-child(2) h2 {
        padding-top: 25px;
    }

}